<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <title>Document</title>

    <style>  
            body {
                background-image: url("shopping-online-sale-background_23-2147509490.jpg");
                height: 100%;
                 background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            </style>
</head>
<body>

     <h1 style="text-align: center"> My Products</h1>
     <a href="/">Go back</a> 
          <div class="row text-dark">
                <% products.forEach(function(product){ %>
                <% const source= "../uploads/" + product.image%>
                <div class="col-3 card m-2 p-0"> 
                <img src=<%= source %> style='height:280px;width:380px;' >
                    <h4 class="product-name">Product: <%= product.name %></h4>
                    <div class="product-manufacturer">Manufacturer: <%= product.manufacturer%></div>
                    <div class="product-description">Description: <%= product.description %></div>
                    <div class="product-description">Userid: <%= product.userid %></div>
                    <!-- <div class="row">
                        <div class="col m-3 p-5">
                            <b>Rs.<%= product.price %></b>
                        </div> -->
                        <!-- <button class="col btn btn-primary m-3">Buy</button>  -->
                </div>
                
                    <% }) %> 
            </div>
        
</body>
</html>